<div class="grid grid-cols-[1fr,6fr] max-h-[80vh] overflow-hidden">
  <app-sidebar></app-sidebar>
  
<div class="  px-4">
  <div class="flex justify-between  my-6 ">
    <h3 class="font-bold"> {{store.posts?.length}}Posts</h3>
    <button routerLink="/dashboard/posts/new" class="py-2 px-4 bg-cyan-950 text-white rounded-md ">  New  <i class="fa-regular fa-square-plus"></i></button>
  </div>

  <div class=" w-full  rounded-lg p-6  bg-white max-h-[60vh] overflow-scroll">
    <table class="  min-w-full   ">
      <thead>
        <tr>
          <th class="py-2 border-b">ID</th>
          <th class="py-2 border-b">Name</th>
          <th class="py-2 border-b">category</th>
          <th class="py-2 border-b">imageUrl</th>
          <th class="py-2 border-b">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (item of store.posts;track item.id){
        <tr>
          <td class="py-2 border-b">{{ item.id }}</td>
          <td class="py-2 border-b">{{ item.name }}</td>
          <td class="py-2 border-b">
            {{ store.getCategoryName(item.categoryId) }}
          </td>
          <td class="py-2 border-b ">
            <img class="w-[100px] h-[100px] object-cover" src="{{ item.imageUrl }}" alt="{{ item.imageUrl }}" />
          </td>
  
          <td class="py-2 border-b">
            <button
              (click)="onEdit(item)"
              class="btn bg-yellow-500 text-white px-2 py-1 rounded-md cursor-pointer hover:bg-yellow-600 transition duration-200 mr-2"
            >
            <i class="fa-regular fa-pen-to-square"></i>
            </button>
            <button
              (click)="onDelete(item.id)"
              class="btn bg-red-500 text-white px-2 py-1 rounded-md cursor-pointer hover:bg-red-600 transition duration-200"
            >
            <i class="fa-solid fa-trash"></i>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>



</div>
</div>
