<div class="">
    <h4>Comments(22)</h4>
    <div class="bg-[#eeeeee40] p-4">
        <div class="space-y-3">
            <div >
                <h6 class="">Mohammed n</h6>
                <small>last update - SEP 24, 2024</small>
            </div>
            <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident velit placeat totam possimus officia illum obcaecati aspernatur voluptatibus at maxime!</p>
            <div class="">
                <a href="" class="">Replay</a>
                <a href="" class="ml-3">View Replay</a>
            </div>

        </div>
    </div>
</div>