<div class="p-5 flex flex-col  shadow-md h-[80vh] text-[#666] " >
    <div class="flex items-center mb-2 hover:text-[#aaa] ">
        <h5 routerLink ="/dashboard" class="cursor-pointer mb-2 font-bold text-[#444]">dashboard</h5>
    </div>
    <div class="flex items-center mb-2 hover:text-[#aaa] ">
        <i class="fas fa-tags mr-2"></i>
        <h5 routerLink ="/dashboard/categories" class="cursor-pointer mb-2">category</h5>
    </div>
    <div class="flex items-center hover:text-[#aaa] ">
    <i class="fas fa-file-alt mr-2"></i>
    <h5 routerLink ="/dashboard/posts" class="cursor-pointer">Post</h5>
    </div>
 </div>
