<div class="grid grid-cols-[3fr,1fr]">
  <div class="">
    <div class="shadow-sm p-4 rounded-sm">
      <div class="card-img"></div>
      <div class="card-body">
        <small class="text-red-400 text-center">{{post.name}}</small>
        <small class="text-green-400 text-center ml-3">{{post.name}}</small>
        <small class="text-blue-400 text-center ml-3">Views - 100</small>
        <h1 class="mt-2 font-bold my-3">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio,
          aliquid?
        </h1>
        <p class="font-light">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
          quas quia, illo corporis eaque esse dolorum voluptatem praesentium a
          itaque necessitatibus labore harum officia libero, reprehenderit amet
          enim animi neque, consequuntur cumque quis? Commodi earum nisi facere
          beatae fuga repudiandae odio deleniti, voluptate distinctio corporis
          qui maxime autem ipsam neque, quos dolorem eos. Repellendus quas amet
          accusamus ad voluptate? Consequatur velit numquam magnam voluptatibus
          natus nihil quidem optio sint, reprehenderit officia illum officiis
          iusto enim at maxime qui totam deleniti saepe repellendus, ullam
          aliquid. Libero impedit alias consectetur corporis recusandae quas
          possimus modi fugiat a unde, laudantium magnam temporibus officia.
        </p>
        <small class="text-yellow-400 text-center"
          >Last Update 2024-06-22</small
        >
      </div>
    </div>
    <div class="shadow-sm p-4 rounded-sm">
      <app-comment-form></app-comment-form>
      <app-comment-list></app-comment-list>
    </div>
  </div>
  <div class="">
    <app-post-card></app-post-card>
    <app-post-card></app-post-card>
    <app-post-card></app-post-card>
  </div>
</div>
