<div class="mt-6 flex items-center justify-center ">
  @if(store.singlePost){
  <div class="w-[60vw]">
    <h1 class="mt-2 font-bold my-3 text-4xl mb-2">
      {{store.singlePost.name}}
              </h1>
    <div class="shadow-sm rounded-sm">
      <div class="card-img">
        <img src="{{store.singlePost.imageUrl}}" class="w-full h-[300px] object-cover" alt="">
      </div>
      <div class="card-body  p-4">
        <small class="text-red-400 text-center">{{store.getCategoryName(store.singlePost.categoryId)}}</small>
        <small class="text-green-400 text-center ml-3"></small>
        <small class="text-blue-400 text-center ml-3">Views - 100</small>

        <div class="font-light editor"  [innerHTML]="store.singlePost.content">
            
        </div>
        
        <small class="text-yellow-400 text-center"
          >{{store.dateFormat(store.singlePost.createdAt)}}</small
        >
      </div>
    </div>
    <div class="shadow-sm p-4 rounded-sm">
      <app-comment-form></app-comment-form>
      <app-comment-list></app-comment-list>
    </div>
  </div>
}@else {
  <h1>loading</h1>
}

</div>
