<div class="shadow-[0_2px_4px_-1px_rgba(0,0,0,0.09)] cursor-pointer bg-white  rounded-sm"   >
<div class="card-img"></div>
<div class="card-body"  >
    <img class="h-[200px] object-cover w-full" src="{{post.imageUrl}}" alt="">
    <div class=" px-3 mt-2 space-y-2">
    <small class=" {{getColor(post.categoryId)}} text-[12px] rounded-sm py-1 px-4 text-center ">{{store.getCategoryName(post.categoryId)}}</small>
    <h4 class=" text-ellipsis h-[75px] text-[#444]   overflow-hidden">{{post.name}}</h4>
    <small class="text-[#bbb] text-center text-xs font-light"> {{store.dateFormat(post.createdAt)}}</small>
</div>
</div>
</div>